version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_backend
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: donate
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./DonateBackend
    container_name: backend_app
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/donate
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "8080:8080"
    restart: always

  frontend:
    build: ./donate-frontend
    container_name: donate_frontend
    depends_on:
      - backend
    ports:
      - "4200:80"
    restart: always

volumes:
  postgres_data:
