<div class="agendamentos-container">
  <h2>Controle de Agendamentos</h2>

  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Status</th>
      <th>ML</th>
      <th>Doadora</th>
      <th>Receptora</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let agendamento of agendamentos">
      <td data-label="ID">{{ agendamento.id }}</td>
      <td data-label="Data">{{ agendamento.data_agendamento | date: 'short' }}</td>
      <td data-label="Status">{{ agendamento.status }}</td>
      <td data-label="ML">{{ agendamento.quantidade_ml }} ml</td>
      <td data-label="Doadora">{{ agendamento.nome_doadora }}</td>
      <td data-label="Receptora">{{ agendamento.nome_receptora }}</td>
      <td data-label="Ações">
        <button (click)="aceitar(agendamento.id)">Aceitar</button>
        <button (click)="recusar(agendamento.id)">Recusar</button>
        <input type="datetime-local" [(ngModel)]="novaDataReagendamento[agendamento.id]" />
        <button (click)="reagendar(agendamento.id)">Reagendar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
