<app-headear></app-headear>

<div class="page-wrapper">
  <div class="login-container">
    <div class="logo-container">
      <span class="material-icons logo-icon">local_hospital</span>
      <h1 class="logo">Donate</h1>
    </div>
    <h2 class="subtitle">Apoie. Doe. Encontre.</h2>

    <p class="description">
      Conectando mães doadoras com bancos de leite humano mais próximos de forma simples e segura.
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="input-group">
        <input formControlName="email" type="email" placeholder="Email" required />
        <span class="material-icons input-icon">email</span>
      </div>

      <!-- Senha com cadeado à esquerda e olhinho à direita -->
      <div class="input-group password-group">
        <input
          [type]="mostrarSenha ? 'text' : 'password'"
          formControlName="senha"
          placeholder="Senha"
          required
        />
        <span class="material-icons lock-icon">lock</span>
        <span class="material-icons eye-icon" (click)="toggleSenha()">
          {{ mostrarSenha ? 'visibility_off' : 'visibility' }}
        </span>
      </div>

      <button type="submit">Entrar</button>
    </form>

    <div class="register-recover-links">
      <p class="register-prompt">
        Ainda não tem uma conta?
        <a (click)="irParaCadastro()">Cadastre-se</a>
      </p>
      <p class="register-prompt">
        Esqueceu a senha?
        <a (click)="irParaRecuperarSenha()">Recuperar senha</a>
      </p>
    </div>
  </div>
</div>
