<div class="login-container">
  <div class="logo-container">
    <span class="material-icons logo-icon">local_hospital</span>
    <h1 class="logo">Donate</h1>
  </div>
  <h2 class="subtitle">Apoie. Doe. Encontre.</h2>

  <p class="description">
    Conectando mães doadoras com bancos de leite humano mais próximos de forma simples e segura.
  </p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input formControlName="email" type="email" placeholder="Email" required>
      <span class="material-icons input-icon">email</span>
    </div>

    <div class="input-group">
      <input formControlName="senha" type="password" placeholder="Senha" required>
      <span class="material-icons input-icon">lock</span>
    </div>

    <button type="submit">Entrar</button>
  </form>

  <p class="register-prompt">
    Ainda não tem uma conta? <a href="/cadastro">Cadastre-se</a>
  </p>
</div>
