<div class="agendamentos-container">
  <h2>Meus Agendamentos</h2>

  <div *ngIf="agendamentos.length === 0">
    Nenhum agendamento encontrado.
  </div>

  <div *ngIf="agendamentos.length > 0" class="tabela-wrapper">
    <table>
      <thead>
      <tr>
        <th>Data</th>
        <th>Hora</th>
        <th>Banco de Leite</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agendamento of agendamentos">
        <td data-label="Data">{{ agendamento.data_doacao ? (agendamento.data_doacao | date: 'dd/MM/yyyy') : '-' }}</td>
        <td data-label="Hora">{{ agendamento.data_doacao ? (agendamento.data_doacao | date: 'HH:mm') : '-' }}</td>
        <td data-label="Banco de Leite">{{ agendamento.nome_banco_leite }}</td>
        <td data-label="Status">{{ agendamento.status }}</td>
        <td data-label="Ações" class="acoes-cell">
          <button class="cancelar-btn" (click)="cancelarAgendamento(agendamento.id)">Cancelar</button>
          <input type="datetime-local" [(ngModel)]="novaDataReagendamento[agendamento.id]" />
          <button class="reagendar-btn" (click)="reagendarComInput(agendamento.id)">Reagendar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <button class="botao-voltar" (click)="voltar()">Voltar</button>
</div>
